<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Document</title>
</head>
<body>
    <div id="root">
    <main>

        <!-- metodo con i v-if -->
        <ul v-if="userMail.length === pendigList ">
            <li v-for="mail in userMail" >{{mail}}</li>
           
        </ul>
        <button  @click=" generateMailServer()">Crea lista</button>


        <ul v-for="email in userMail">
            <li>{{email}}</li>
        </ul>
        <button  @click=" generatMail()">Crea lista</button>
    </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="vue.js"></script>
</body>
</html>